:root {
    --c-text-blue: hsl(238, 29%, 16%);
    --c-text-blue-dark: hsl(240, 6%, 50%);
    --c-text-blue-darker: hsl(237, 12%, 33%);
    --c-text-red: hsl(14, 88%, 65%);
    --c-grad-violet: hsl(273, 75%, 66%);
    --c-grad-blue: hsl(240, 73%, 65%);
    --c-div-blue-light: hsl(240, 5%, 91%);
}

html {
    font-size: 62.5%;
    box-sizing: content-box;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    padding: 2.4rem;
    background: linear-gradient(var(--c-grad-violet), var(--c-grad-blue));
    overflow: inherit;
}

.card {
    background-color: white;
    max-width: 92rem;
    border-radius: 2.3rem;
    padding: 0 2.4rem 4.8rem 2.4rem;
    text-align: center;
    margin: auto;
    margin-top: 14.8rem;
    margin-bottom: 14.8rem;

    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0;
}

.card__text {
    display: inline-block;
    width: 100%;
    margin-top: 13.2rem;
}

.card__image {
    display: block;
}

.img-container {
    margin: auto;
    max-width: 23.7rem;
    position: relative;
}

.img-mobile {
    position: absolute;
    transform: translateY(-59%);
    display: block;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-desktop {
    display: none;
}

.card__text h1 {
    margin-bottom: 4.3rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--c-text-blue);
}

.accordion {
    text-align: left;
}

.accordion .accordion__item:not(:first-child) {
    padding-top: 1.8rem;
}

.accordion__item {
    display: block;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--c-div-blue-light);
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-text-blue-darker);
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

.accordion__question img {
    margin-left: 1.5rem;
    transition: transform 300ms ease-in-out;
}

.accordion__question.open p {
    font-weight: 700;
}

.accordion__question.open img {
    transform: rotate(180deg);
}

.accordion__answer {
    color: var(--c-text-blue-dark);
    margin-top: 1.1rem;
    padding-right: .8rem;
    line-height: 1.8rem;
    font-weight: 400;

    transition: height 200ms ease-in-out;
}

.collapsing {
    height: 0;
    overflow: hidden;
}

.collapse {
    display: none;
}

.accordion__answer.open {
    display: block;
}

.hide-for-mobile {
    display: none;
}

/*DESKTOP*/
@media only screen and (min-width: 60em) {
    body {
        padding: 0 5rem;
    }

    .card {
        display: flex;
        align-items: center;
        padding: 8rem 0;
        position: relative;
        text-align: left;

        background-image: url(./images/bg-pattern-desktop.svg);
        background-position: -58rem -28rem;
    }

    .card__image, .card__text {
        flex: 1;
    }

    .card__text {
        display: inline-block;
    }

    .card__image {
        position: relative;
    }

    .card__image>img {
        position: absolute;
        z-index: 1;
        left: -20.5%;
        top: 37%;
    }

    .img-desktop {
        display: block;
        transform: translateX(-16%);
    }

    .img-mobile {
        display: none;
    }

    .img-container {
        max-width: 47.2rem;
        overflow: hidden;
    }

    .card__text {
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .accordion__item {
        max-width: 35rem;
        padding-right: 1.6rem;
    }

    .accordion__question {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .hide-for-mobile {
        display: block;
    }
}