:root {
    --c-text-blue: hsl(238, 29%, 16%);
    --c-text-blue-dark: hsl(240, 6%, 50%);
    --c-text-blue-darker: hsl(237, 12%, 33%);
    --c-text-red: hsl(14, 88%, 65%);
    --c-grad-violet: hsl(273, 75%, 66%);
    --c-grad-blue: hsl(240, 73%, 65%);
    --c-div-blue-light: hsl(240, 5%, 91%);
}

html {
    font-size: 62.5%;
    box-sizing: content-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background: linear-gradient(var(--c-grad-violet), var(--c-grad-blue));
    padding: 2.4rem;
}

.card {
    background-color: white;
    max-width: 92rem;
    border-radius: 2.3rem;
    margin: auto;
    margin-top: 13rem;
}

.card__image {}

.card__image img {
    width: 100%;
    height: auto;
    max-width: 47.2rem;
}

.card__text h1 {
    margin-bottom: 4.3rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--c-text-blue);
}

.accordion .accordion__item:not(:first-child) {
    padding-top: 1.8rem;
}

.accordion__item {
    padding-bottom: 1.5rem;
    padding-right: 1.6rem;
    border-bottom: 1px solid var(--c-div-blue-light);
    max-width: 35rem;
}

.collapsed {
    height: 0;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-text-blue-darker);
}

.accordion__answer {
    overflow: hidden;
    color: var(--c-text-blue-dark);
}

@media only screen and (min-width: 60em) {
    body {
        padding: 0 8rem;
    }

    .card {
        display: flex;
        align-items: center;
        padding-top: 7rem;
        padding-bottom: 8rem;
    }

    .card__image, .card__text {
        flex: 1;
    }

    .card__image {}

    .card__image img {
        transform: translateX(-16%);
    }

    .card__text {
        padding-left: 1.5rem;
    }

    .accordion__question {
        font-size: 1.4rem;
        font-weight: 400;
    }
}